@import 'variables';

// HEADER SECTION ////////////////

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    h1{
        font: 600 3rem 'Montserrat', sans-serif;
        color: #fff;
    }
    p{
        color: #fff;
        font-weight: 300;
    }

    .hero{
        display: flex;
        gap: 10rem;
    }

    .heroText,
    .heroImage{
        width: 50%;
        display: flex;
    }
    .heroText{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heroImage{
        justify-content: center;
        max-height: 70%;
        max-width: 70%;
    }
    .downArrow{
        position: absolute;
        top: 90%;
        left: 48%;
        width: auto;
        i{
            font-size: 3rem;
            color: #fff;
            opacity: 90%;
            animation: arrowDown 3s infinite;
        }
    }
}

@-webkit-keyframes arrowDown {
    0% {
      -webkit-transform: translate(0, -15px);
      transform: translate(0, -15px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 15px);
      transform: translate(0, 15px);
      opacity: 0;
    }
  }
  
  @keyframes arrowDown {
    0% {
      -webkit-transform: translate(0, -15px);
      transform: translate(0, -15px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 15px);
      transform: translate(0, 15px);
      opacity: 0;
    }
  }
