@import 'variables';

// Smaller Desktop Screen and Minimized Window
@media screen and (max-width: 1030px) {
    header{
        .hero{
            gap: 0;
        }
    }
    .about{
        .imgContainer{
            img{
                height: 20vh;
            }
        }
    }
    .projectSkills{
        ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
// Tablet
@media (max-width: 850px) {
    header{
        .hero{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            .heroText{
                text-align: center;
            }
            img{
                width: 100%;
            }
        }
    }
    .skillsAndTools{
        i{
            font-size: 3rem;
        }
    }
    .project1ImgContainer,
    .project2ImgContainer,
    .project3ImgContainer{
        box-shadow: none;
    }
    .project1Container,
    .project3Container{
        box-shadow: 1rem 1rem $accentColor;
    }
    .project2Container{
        box-shadow: -1rem 1rem $accentColor;
    }
}
// Smaller Tablet and Phablet
@media (max-width: 780px) {

    .about{
        .aboutContainer{
            flex-direction: column;
            align-items: center;
        }
        .aboutText{
            width: 100%;
        }
    }
    .project1Container,
    .project2Container,
    .project3Container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project1ImgContainer,
    .project1TextContainer,
    .project2ImgContainer,
    .project2TextContainer,
    .project3ImgContainer,
    .project3TextContainer{
        width: 100%;
        height: 50%;
    }
    .project1ImgContainer,
    .project2ImgContainer,
    .project3ImgContainer{
        margin-top: 2rem;
    }
    .project2ImgContainer{
        order: 0;
    }
    .project1TextContainer,
    .project2TextContainer,
    .project3TextContainer{
        .buttonsContainer{
            justify-content: center;
        }
    }
}
// Phones
@media (max-width:429px){
    header{
        height: 90vh;
        .downArrow{
            position: unset;
            order: -1;
        }
    }
    .wrapper{
        max-width: 90%;
        width: 85%;
    }
    header{
        .heroText,
        .heroImage{
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    .about{
        .imgContainer{
            margin-top: 2rem;
        }
    }
    .skillsAndTools{
        .skillsGrid{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .contactContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .contactTextContainer,
    .formContainer{
        width: 100%;
    }
    h4{
        text-align: center;
    }
    .contactContainer{
        ul{
            justify-content: center;
        }
    }
}

@media (max-width:820px) and (orientation: landscape) {
    header{
        .hero{
            flex-direction: row;
            gap: 7rem;
            .heroImage,
            .heroText{
                width: 50%;
            }
            .downArrow{
                top: 80%;
            }
            img{
                width: 100%;
            }
        }
    }
}