html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 80%;
  width: 70%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

textarea {
  height: 5rem;
  resize: none;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #FEF5ED;
}

footer {
  text-align: center;
  background-color: #1a1a1a;
}
footer p {
  color: #fff;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

h2 {
  font: 600 2rem "Montserrat", sans-serif;
  display: inline-block;
  -webkit-box-shadow: 0.25rem 0.25rem #d0f1c9;
          box-shadow: 0.25rem 0.25rem #d0f1c9;
  padding-right: 0.4rem;
}

h3 {
  font: 400 2rem "Montserrat", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9aae93;
}
header h1 {
  font: 600 3rem "Montserrat", sans-serif;
  color: #fff;
}
header p {
  color: #fff;
  font-weight: 300;
}
header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
}
header .heroText,
header .heroImage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .heroText {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .heroImage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 70%;
  max-width: 70%;
}
header .downArrow {
  position: absolute;
  top: 90%;
  left: 48%;
  width: auto;
}
header .downArrow i {
  font-size: 3rem;
  color: #fff;
  opacity: 90%;
  -webkit-animation: arrowDown 3s infinite;
          animation: arrowDown 3s infinite;
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    opacity: 0;
  }
}
@keyframes arrowDown {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    opacity: 0;
  }
}
.about {
  margin: 0 auto;
  max-width: 80%;
  padding-bottom: 3rem;
}
.about .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .aboutText {
  width: calc(50% - 0.5rem);
  display: inline-block;
}
.about .aboutText .calendlyButton {
  background-color: #ace6a1;
  width: 5rem;
  height: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.25rem;
}
.about .aboutText .calendlyButton p {
  color: #404040;
}
.about .imgContainer {
  max-width: calc(50% - 0.5rem);
  width: calc(50% - 0.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .imgContainer img {
  height: 30vh;
  width: auto;
  -webkit-box-shadow: 0.5rem 0.5rem #ace6a1;
          box-shadow: 0.5rem 0.5rem #ace6a1;
}

.skillsAndTools {
  background-color: #9aae93;
  padding-top: 1rem;
  padding-bottom: 6rem;
}
.skillsAndTools h2 {
  padding-top: 1rem;
  color: #fff;
  -webkit-box-shadow: 0.3rem 0.3rem #333333;
          box-shadow: 0.3rem 0.3rem #333333;
}
.skillsAndTools .skillsGrid {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.skillsAndTools .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skillsAndTools .skill p {
  margin: 0;
  text-align: center;
}
.skillsAndTools span {
  display: block;
}
.skillsAndTools i {
  font-size: 5rem;
  margin: 1rem 1rem;
}

.projects {
  padding-bottom: 3rem;
}

.project1Container,
.project2Container,
.project3Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  background-color: #e5d3bc;
  margin-bottom: 2rem;
  border-radius: 1.25rem;
}

.project1ImgContainer,
.project2ImgContainer,
.project3ImgContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project1ImgContainer img,
.project2ImgContainer img,
.project3ImgContainer img {
  max-width: 80%;
  max-height: 80%;
}

.project1ImgContainer,
.project3ImgContainer {
  -webkit-box-shadow: -1rem 1rem #ace6a1;
          box-shadow: -1rem 1rem #ace6a1;
  border-radius: 1.25rem;
}
.project1ImgContainer img,
.project3ImgContainer img {
  -webkit-box-shadow: -0.5rem 0.5rem #9aae93;
          box-shadow: -0.5rem 0.5rem #9aae93;
  border-radius: 1.25rem;
}

.project2ImgContainer {
  -webkit-box-shadow: 1rem 1rem #ace6a1;
          box-shadow: 1rem 1rem #ace6a1;
  border-radius: 1.25rem;
}
.project2ImgContainer img {
  -webkit-box-shadow: 0.5rem 0.5rem #9aae93;
          box-shadow: 0.5rem 0.5rem #9aae93;
  border-radius: 1.25rem;
}

.project1TextContainer,
.project2TextContainer,
.project3TextContainer {
  width: 50%;
  display: block;
  padding: 1rem;
}

.projectSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectSkills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.projectSkills ul li {
  margin: 0.5rem 1rem;
  font-size: 2.5rem;
}

.project2ImgContainer {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.project1TextContainer .buttonsContainer,
.project3TextContainer .buttonsContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.gitHubButton,
.liveSiteButton {
  background-color: #ace6a1;
  padding: 0 0.5rem;
  height: 1.8rem;
  border-radius: 1.25rem;
}
.gitHubButton p,
.liveSiteButton p {
  margin: 0.3rem auto;
  color: #404040;
}

.contactMe {
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem 0 2rem;
}
.contactMe h2 {
  -webkit-box-shadow: 0.3rem 0.3rem #667d5e;
          box-shadow: 0.3rem 0.3rem #667d5e;
}
.contactMe span {
  display: block;
  font-weight: bold;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.contactTextContainer,
.formContainer {
  width: 50%;
}

.formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input,
textarea {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  border: none;
}

input[type=submit] {
  background-color: #ace6a1;
  color: #1a1a1a;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.socials ul li {
  margin: 0 1rem;
  font-size: 2rem;
}
.socials i {
  color: #fff;
  -webkit-transition: color 2s;
  transition: color 2s;
}
.socials i:hover {
  color: #ace6a1;
}

@media screen and (max-width: 1030px) {
  header .hero {
    gap: 0;
  }

  .about .imgContainer img {
    height: 20vh;
  }

  .projectSkills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  header .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero .heroText {
    text-align: center;
  }

  .skillsAndTools i {
    font-size: 3rem;
  }

  .project1ImgContainer,
.project2ImgContainer,
.project3ImgContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .project1Container,
.project3Container {
    -webkit-box-shadow: 1rem 1rem #ace6a1;
            box-shadow: 1rem 1rem #ace6a1;
  }

  .project2Container {
    -webkit-box-shadow: -1rem 1rem #ace6a1;
            box-shadow: -1rem 1rem #ace6a1;
  }
}
@media (max-width: 780px) {
  .about .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .aboutText {
    width: 100%;
  }

  .project1Container,
.project2Container,
.project3Container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .project1ImgContainer,
.project1TextContainer,
.project2ImgContainer,
.project2TextContainer,
.project3ImgContainer,
.project3TextContainer {
    width: 100%;
    height: 50%;
  }

  .project1ImgContainer,
.project2ImgContainer,
.project3ImgContainer {
    margin-top: 2rem;
  }

  .project2ImgContainer {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .project1TextContainer .buttonsContainer,
.project2TextContainer .buttonsContainer,
.project3TextContainer .buttonsContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 429px) {
  header {
    height: 90vh;
  }
  header .downArrow {
    position: unset;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .wrapper {
    max-width: 90%;
    width: 85%;
  }

  header .heroText,
header .heroImage {
    width: 100%;
  }
  header img {
    width: 100%;
  }

  .about .imgContainer {
    margin-top: 2rem;
  }

  .skillsAndTools .skillsGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }

  .contactTextContainer,
.formContainer {
    width: 100%;
  }

  h4 {
    text-align: center;
  }
}